<h1 style="text-align: center;">Seguimos tristes</h1>
<body style="text-align: center;">
    <p> Ya no creo en las almas gemelas, y no busco nada</p>
    <p>Pero, si creyera en ellas, creria que tu alma gemela</p>
    <p>es alguien que tiene todo lo que a ti te falta y que</p>
    <p>necesita todo lo que tu tienes </p>
    <img src="https://dbdzm869oupei.cloudfront.net/img/photomural/preview/49060.png" height="300px" width="500px" alt="">
    <h1></h1>
    <button  (click)=" volver()" class="btn sucess"> Ir</button>
</body>
