<h1 style="text-align: center;"> BLOG</h1>
<body style="text-align: center;">
    <p>Hola bolas soy yo</p>
<img  src="https://png.pngtree.com/png-clipart/20210520/ourmid/pngtree-mens-colorful-character-with-glasses-png-image_3286502.png" width="150px" height="200px" alt="">
<div style="text-align: 150px"> Nombres: Justin Santiago</div>
<div> Apellidos: Lamar Narvaez</div>
<div> Edad: 17</div>
<div> Cedula: 0106209034</div>
<button  (click)=" navegacion()" class="btn sucess"> Ir</button>

</body>